.rest-page {
  &__title {
    color: $primary;
    text-align: center;
  }

  &__option-title {
    margin-bottom: 20px;
    margin-top: 40px !important;
    position: relative;

    &::after {
      background-color: $primary;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      top: 25px;
      width: 60px;
    }
  }
}
