.radio-group {
  &__buttons {
    margin-bottom: 20px;

    @media screen and (min-width: $table) {
      display: flex;

      label {
        margin-right: 20px;
      }
    }

    &.delivery {
      margin-bottom: 0;
    }
  }

  textarea {
    margin-bottom: 20px !important;
  }
}

.react-datepicker-wrapper {
  width: fit-content !important;
  margin-bottom: 20px;
}
