.radio-group {
  &__buttons {
    margin-bottom: 20px;

    @media screen and (min-width: $table) {
      display: flex;

      label {
        margin-right: 20px;
      }
    }

    &.delivery {
      margin-bottom: 0;
    }
  }

  textarea {
    margin-bottom: 20px !important;
  }
}

.react-datepicker-wrapper {
  margin-bottom: 20px;
  width: fit-content !important;
}

.centralfood-map {
  color: $primary;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;

  .icon {
    font-size: 1.5rem;
  }

  &:hover {
    color: $font-grey;
  }
}
