.menu-restaurants {
  background-color: $background-grey;
  position: sticky;
  padding-bottom: 5px;
  top: 47px;
  z-index: 2;

  &.shadow {
    box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  h2 {
    color: $font-dark;
    font-size: 14px;
    margin: 0;
  }

  p {
    color: $font-dark;
    font-size: 10px;
    margin: 0;
  }

  .rest {
    margin: 10px 0;
    text-align: center;

    img {
      border-radius: 20%;
      height: 30px;
      width: 30px;
    }

    &__button {
      @media screen and (max-width: $mobile) {
        margin-right: 10px;
      }

      border: solid 2px $border-light;
      padding: 5px 15px;
      border-radius: 25px;
      min-width: 80px;
      background-color: $background-dark;

      h2 {
        color: $font-light;
      }
    }
  }
}
