.ui.active.transition.visible.inverted.dimmer {
  background-color: transparent;
  height: 50vh;
}

.ui.segment {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
