.popular-plates {
  margin-bottom: 50px;

  &__title {
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      top: 35px;
      width: 100px;
      height: 4px;
      content: "";
      background-color: $primary;
    }
  }

  &__text {
    margin-top: 30px;
    margin-bottom: 20px;

    p {
      font-size: 18px;
    }
  }
}
