.user-account {
  position: relative;
  margin-bottom: 50px;

  .title {
    background-color: $background-dark-absolute;
    border-radius: 5px 5px 0 0;
    color: $font-light;
    font-weight: bold;
    padding: 5px 10px;
    width: max-content;
  }

  .data {
    background-color: $background-light;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .addresses-title {
    display: flex;
    justify-content: space-between;
    .plus {
      background-color: $primary;
      border: 2px solid #000;
      border-radius: 5px;
      color: $font-light;
      cursor: pointer;
      font-weight: bold;
      padding: 5px 10px;
      position: absolute;
      right: 0;
      top: 0;
      width: max-content;

      span {
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }
}
