.footer {
  background-color: $background-dark;
  color: $font-grey;
  width: 100vw;
  padding: 30px;

  h4 {
    color: $font-light;
  }

  &__icon {
    font-size: 2.5rem;
    margin-top: 2rem;

    a {
      color: $primary;
      margin-right: 2rem;

      &:hover {
        color: $font-light;
      }
    }
  }

  &__legacy {
    p {
      font-size: 12px;
      color: $font-grey;
      margin-bottom: 10px !important;

      &:hover {
        color: $font-light;
      }
    }
  }

  &__copy {
    font-size: 10px !important;
    text-align: right;

    span {
      color: $primary;
    }
  }
}
