.form {
  .actions {
    justify-content: space-between !important;
    margin-top: 20px;

    .ui.basic.button {
      margin: 0;
    }

    .ui.button.submit {
      margin-right: 10px !important;
    }
  }
}
