.menu-bar {
  background-color: $background-grey-dark;
  border-radius: 0;
  position: sticky;
  top: 0px;
  z-index: 3;

  &__items {
    align-items: center;
    display: flex !important;
    justify-content: flex-end;

    .item {
      color: $font-light;
      cursor: pointer;
      padding: 1rem 1.5rem 1rem 1.5rem;
      position: relative;

      &:hover {
        background-color: $background-dark-absolute;
      }

      .icon {
        color: $primary;
        margin-right: 10px;
      }

      .ui.floating.label {
        left: 45%;
        top: -5px;

        @media screen and (max-width: $mobile) {
          left: 60%;
        }
      }
    }
  }
}
